{% extends "shared/base.html" %}

{% block title %}
  <title>The Simplest Scraper Video for Smotrim.ru by Ilia Nikitin</title>
{% endblock %}

{% block content %}

{% include "components/search.html" %}

<div id="result"></div>

{% endblock %}

