{% with obj=result %}   

<div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">

      <h1>{{obj.title}}</h1>
    </div>
    <div class="movie_desc">
      <p class="text">
        {{obj.anons}} 
      </p>
      <ul>
            {% for key, value in obj.videos.items() %} 
            <li><a target="_blank" href="{{value}}">Качество - {{key}}</a></li>

            {% endfor %}
        </ul>
    </div>

    </div>
  <div class="blur_back" style="background-image: url('{{obj.picture}}');"></div>
</div>
{% endwith %}